<html>
	<head>
		<meta charset=utf-8>
		<title>9-双向数据流</title>
		<script src="../static/node_modules/react/dist/react-with-addons.js"></script>
   		<script src="../static/node_modules/react/dist/browser.min.js"></script>
    	<script src="../static/node_modules/react/dist/react.js"></script>
        <script src="../static/node_modules/react/dist/JSXTransformer.js"></script>
    </head>
    <body>
    	<div id="app"></div>
    	<script type="text/jsx">

    		var ActionBox = React.createClass({

                //导入组件
                mixins : [React.addons.LinkedStateMixin],

                getInitialState:function(){
                    return {
                        message : 'react is awsome',
                        isReactAwsome : true,
                    };
                },

    			render : function(){
    				return (
    					<div>
    						<h1>我想说：{this.state.message}</h1>
                            <h2>React好用吗？{this.state.isReactAwsome?"非常好用":"一般般"}</h2>
                            <input type="text" valueLink={this.linkState('message')} />
                            <br/>
                            <input type="checkbox" checkedLink={this.linkState('isReactAwsome')}/>

                            <hr />
                            子组件：（传递参数）
                            <SubComp messageLink = {this.linkState("message")} likeLink ={this.linkState("isReactAwsome")} />
    					</div>
    				);
    			}
    		});

            var SubComp = React.createClass({
                render : function(){
                    return (
                        <div>
                            
                            <SubSubComp {...this.props}/>
                        </div>
                    );
                }
            });

            var SubSubComp = React.createClass({
                render : function(){
                    return (
                        <div>
                            <input type="text" valueLink = {this.props.messageLink}/>
                            <br/>
                            <input type="checkbox" checkedLink = {this.props.likeLink}/>
                        </div>
                    );
                }
            });

    		var App = React.render(
    			<ActionBox />,
    			document.getElementById("app")
    			
    		);

    	</script>
    </body>
</html>    	